html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#map {
    height: 100%;
    width: 100%;
    z-index: 1;
    position: absolute;
}

.Overdiv {
    background-color: white;
    opacity: 0.9;
    position: absolute;
    top: 10%;
    right: 5%;
    z-index: 2;
    padding: 10px;
}
.container {
    padding: 0px;
    margin:0px;
}


