@{
    ViewData["Title"] = "Direction";
}
<div class="Overdiv">
    <span class="label label-default">Click on marker for start location</span>
    <label id="lblstart"></label><br>

    <span class="label label-default">Click on marker for End location</span>
    <label id="lblend"></label>
    <lable id="lblmcount" style="visibility:hidden"></lable><br>

    <button type="button" class="btn btn-primary" onclick="loadDoc()">Click For direction</button>
</div>
<div id="map"></div>

@section Scripts{
     <script>
       

        var geojsonFeature = {
            "type": "Feature",
            "properties": {
                "name": "Coors Field",
                "amenity": "Baseball Stadium",
                "popupContent": "This is where the Rockies play!"
            },
            "geometry": null
        };
        function loadDoc() {
            var myLayer = L.geoJSON().addTo(map);
            $.ajax({
                type: "GET",
                dataType: 'json',
                url: "https://api.mapbox.com/directions/v5/mapbox/driving/" + $("#lblstart").text() + ";" + $("#lblend").text() + "?geometries=geojson&overview=full&engine=electric&ev_initial_charge=600&ev_max_charge=5000&ev_connector_types=ccs_combo_type1,ccs_combo_type2&energy_consumption_curve=0,300;20,160;80,140;120,180&ev_charging_curve=0,100000;40000,70000;60000,30000;80000,10000&ev_min_charge_at_charging_station=1&access_token=pk.eyJ1IjoiZGhydXZpMTEiLCJhIjoiY2w0dDl0dmVyMDZqMjNpdWx6d2ljc2VvNCJ9.jrAkjQJMMPUio0hwOAu-pg&steps=true",
                async: true,
                contentType: "application/json; charset=utf-8",
                success: function (msg) {
                    console.log(msg);

                    geojsonFeature.geometry=msg.routes[0].geometry;
                    console.log(geojsonFeature);
                    var markers = new L.MarkerClusterGroup();
                    for (var i in msg.waypoints) {
                 var row = msg.waypoints[i];

                var marker = L.marker([row.location[1],row.location[0]], {
                    opacity: 1
                }).bindPopup(row.name);
                markers.addLayer(marker);
                marker.addTo(map);
            }

                    myLayer.addData(geojsonFeature);
                }
            });
        }
    </script>


    <script type="text/javascript">
        // london cordinate 42.995120541981635, -81.2451841000309
        var map = L.map('map', {
            fullscreenControl: {
                pseudoFullscreen: false
            }
        }).setView([42.995120541981635, -81.2451841000309], 12);

        function onMapClick(e) {
            if ($("#lblmcount").text() == "") {
                $("#lblmcount").text("1");
            }
            else {
                $("#lblmcount").text(parseFloat($("#lblmcount").text()) + 1);
            }
            if (parseFloat($("#lblmcount").text()) <= 2) {
                if ($("#lblstart").text() == "") {
                    $("#lblstart").text(e.latlng.lng + "," + e.latlng.lat);
                }
                else {
                    $("#lblend").text(e.latlng.lng + "," + e.latlng.lat);
                }
                var marker = L.marker(e.latlng).addTo(map);
                marker.bindPopup("<b>Lat long is</b>" + e.latlng).openPopup();
            }
        }

        map.on('click', onMapClick);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);

    </script>
}

