@{
    ViewData["Title"] = "Home Page";
}
<div class="container">    
@*<main role="main" class="pb-3">*@
     <div id="map"></div>
   @*  </main>*@
     </div>
@section Scripts{
     <script type="text/javascript">
        // london cordinate 42.995120541981635, -81.2451841000309
        var map = L.map('map', {
            fullscreenControl: {
                pseudoFullscreen: false
            }
        }).setView([42.995120541981635, -81.2451841000309], 6);       
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '© OpenStreetMap'
        }).addTo(map);   
      
        // Read markers data from data.csv

        var markers = new L.MarkerClusterGroup();
        //markers.addLayer(L.marker([42.995120541981635, -81.2451841000309]));

        $.get('../../elec_station_data_ca.csv', function (csvString) {

            // Use PapaParse to convert string to array of objects
            var data = Papa.parse(csvString, { header: true, dynamicTyping: true }).data;

            // For each row in data, create a marker and add it to the map
            // For each row, columns `Latitude`, `Longitude`, and `Title` are required
            for (var i in data) {
                var row = data[i];

                var tb = '<table id="customers">';
                
                for (const [key, value] of Object.entries(row)) {
                    tb += '<tr>';
                  //console.log(`${key}: ${value}`);
                   tb += '<td>' + key +'</td>'+'<td>' + value +'</td>' ;
                    tb += '</tr>';
                }
                 tb += '</table>';
                var marker = L.marker([row.Latitude, row.Longitude], {
                    opacity: 1
                }).bindPopup(row["Station Name"] +'\n'+tb);
                markers.addLayer(marker);
                //marker.addTo(map);
            }

        });

        map.addLayer(markers);

         //map.attributionControl.setPrefix(
         //    'View <a href="https://github.com/HandsOnDataViz/leaflet-map-csv" target="_blank">code on GitHub</a>'
         //);
    </script>
}